doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.buck-wild
    h1.beer If APIs were IPAs
    h3.beer (I'd come to hackathons more often)
    h2.beer THE HOPS YOU SHOULD USE IN YOUR HOMEBREW ARE:

    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js")
    script(src="../javascripts/main.js")