doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1#buck-wild WELCOME TO OUR BEER APP

    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js")
    script(src="../javascripts/main.js")